.card {
  width: 200px;
  height: 300px;
  border: 2px #222222 solid;
  box-shadow: 4px 4px 8px gray;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 180px;
  background-color: white;
  margin-top: 10px;
  border: #222222 1px solid;
  border-radius: 10px;
}

.productImage {
  width: 80px;
  height: auto;
}

.productTitle {
  font-size: 0.8em;
  /* border: 1px solid black; */
  padding: 0px 10px;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 20px 0px;
  min-height: 2.4em;
  /* height: 40px; */
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.2em;
  padding: 0px 10px;
}

.input {
  width: 40%;
  border-radius: 8px;
  border-width: 1px;
  padding: 4px 4px;
}

.addToCartBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 60%; */
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 8px;
}
