.cartContainer {
  display: grid;
  gap: 30px;
}

.cartItemContainer {
  display: flex;
  border: #222222 1px solid;
  border-radius: 10px;
  padding: 20px 40px;
}

.productTitle {
  width: 300px;
  display: flex;
  align-items: center;
}

.productQuantity {
  display: flex;
  flex-direction: row;
  width: 120px;
  gap: 5px;
}


input {
  width: 100%;
  border-radius: 8px;
  border-width: 1px;
  padding: 4px 4px;
}

.deletetBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 60%; */
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 8px;
}