.cartContainer {
  display: grid;
  gap: 30px;
}

.cartItemContainer {
  display: flex;
  border: #222222 1px solid;
  border-radius: 10px;
  padding: 10px 10px;
  box-shadow: 4px 4px 8px gray;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  background-color: white;
  border: #222222 1px solid;
  border-radius: 10px;
  margin-right: 10px;
}

.productImage {
  max-width: 60px;
  max-height: 60px;
}


.productTitle {
  width: 300px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.productQuantity {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 120px;
  height: 2rem;
  gap: 5px;
}


input {
  width: 100%;
  border-radius: 8px;
  border-width: 1px;
  padding: 4px 4px;
}

.deletetBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 60%; */
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 8px;
}