@font-face {
  font-family: "HennyPenny";
  src: url("../assets/fonts/HennyPenny-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcomeContainer {
  display: flex;
  flex-direction: column;
  /* border: 2px red solid; */
  align-items: center;
}

.welcome {
  font-family: "HennyPenny", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  /* border: 2px red solid; */
  margin: 0px;
}

.title {
  font-family: "HennyPenny", Arial, Helvetica, sans-serif;
  font-size: 5rem;
  /* border: 2px red solid; */
  margin: 0px;
}

.description {
  font-style: italic;
  font-weight: bold;
}