@font-face {
  font-family: "HennyPenny";
  src: url("../assets/fonts/HennyPenny-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.header {
  display: flex;
  background-color: #FE7F2D;
  padding: 0px 60px;
  flex-shrink: 0;
}

.siteContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pageContainer {
  padding: 30px 60px;
  flex-grow: 1;
  background-color: #f5fbe6;
  background-image:
    radial-gradient(#95bdbf 5px, transparent 5px),
    radial-gradient(#95bdbf 5px, transparent 5px);
  background-size: 120px 120px;
  background-position:
    0 0,
    60px 60px;
}

.storeName {
  font-family: "HennyPenny", Arial, Helvetica, sans-serif;
  padding-right: 100px;
}

.main {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FE7F2D;
  flex-shrink: 0;
}

footer a {
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 5px;
  color: #000;
  cursor: pointer;
  padding: 5px;
}

#github-link {
  font-size: 1.5rem;
  font-family: VT323;
}

footer img {
  height: 1.3rem;
}
