.header {
  display: flex;
  background-color: lightgray;
  padding: 0px 60px;
  box-shadow: 0px 4px 8px #222222;
}

.pageContainer {
  display: grid;
  padding: 30px 60px;
}

.storeName {
  padding-right: 100px;
}

.main {
  display: flex;
  width: 100%;
  align-items: center;
}
