.header {
  display: flex;
  background-color: lightgray;
  padding: 0px 60px;
  box-shadow: 0px 4px 8px #222222;
  flex-shrink: 0;
}

.siteContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pageContainer {
  display: grid;
  padding: 30px 60px;
  flex-grow: 1;
}

.storeName {
  padding-right: 100px;
}

.main {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  flex-shrink: 0;
}

footer a {
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 5px;
  color: #000;
  cursor: pointer;
  padding: 5px;
}

#github-link {
  font-size: 1.5rem;
  font-family: VT323;
}

footer img {
  height: 1.3rem;
}
