.navbar {
  display: flex;
  padding: 1px;
  align-items: center;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 100%;
  width: 60px;
  color: #222222;
}

.link:hover {
  background-color: #fe6f2d;
}